html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 6px 12px;
  font-size: 1rem;
}

table {
  margin-top: 24px;
  border-collapse: collapse;
  font-size: 1rem;
}

table th,td {
  border: solid 1px #ede;
  padding: 6px 12px;
  text-align: center;
}